<!DOCTYPE html>
<html lang=en>
  {{- partial "head.html" . -}}
  <body class="grid">
    {{- partial "header.html" . -}}
    <div class="main flex column">
    {{- block "main" . }}{{- end }}
    </div>
    {{- block "nav" . }}{{- end }}
    {{- partial "footer.html" . -}}
  </body>
</html>

{{- define "nav" }}
    <nav class="flex">
      {{- partial "brand.html" . }}
      <ul class="flex">
      {{- range site.Params.nav }}
        {{- with site.GetPage . }}
        <li><a href="{{ .RelPermalink }}" class="nav-item">{{ .Title }}</a></li>
        {{- end }}
      {{- end }}
      </ul>
    </nav>
{{- end -}}
