{{- define "main" }}
            <h1 class="font-size-1-rem brand">
            {{- with .Site.Title }}
              <a href="{{ site.BaseURL }}">
                {{- $id := delimit (shuffle (seq 1 9)) "" }}
                <svg aria-labeledby="brand-{{- $id -}}-title" viewBox="0 0 66 30" role="img">
                  <title id="brand-{{- $id -}}-title">{{ . }}</title>
                  {{- $indent := 0 }}
                  <text x="0" y="0.1em">
                    {{- range (split . " ") }}
                    <tspan dy=".73em" x="{{ $indent }}em">{{ . }}</tspan>
                    {{- $indent = add $indent .505}}
                    {{- end }}
                  </text>
                </svg>
              </a>
            </h1>
            {{- end }}
{{- end -}}

{{- define "nav" }}
    <nav class="flex">
      <ul class="flex home-nav column">
      {{- range site.Params.nav }}
        {{- with site.GetPage . }}
        <li><a href="{{ .RelPermalink }}" class="nav-item">{{ .Title }}</a></li>
        {{- end }}
      {{- end }}
      </ul>
    </nav>
{{- end -}}
