body {
  min-height: 20vh;
  background: $background;
  margin: 0;
  grid-template-rows: [nav] 10vh [main] auto 10vh [footer] auto;

  .main {
    grid-area: main;
    margin: 0 auto;
    max-width: 1800px;
    width: 80vw;
    color: $dark;
    .brand {
      margin-top: 10vh;
      max-width: 1250px;
      width: 60vw;
      height: auto;
      fill: $dark;
      svg {
        overflow: visible;
      }
    }
    a:link, a:visited, a:link:active, a:visited:active {
      color: $dark-accent;
    }
    a:hover {
      color: $gray-500;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 15px;
      line-height: 2;
    }
    p::before {
      color: $dark-accent;
    }
  }

  .section-nav {
    margin-top: 100px;
    margin-bottom: 10px;
    a:hover {
      fill: $gray-500;
      .arrow {
        stroke: $gray-500;
      }
    }
    svg {
      overflow: visible;
      white-space: nowrap;
    }
    .arrow {
      stroke: $dark;
    }
    .previous {
      justify-self: flex-start;
      margin-right: auto;

    }
    .next {
      display: block;
      margin-left: auto;
      justify-self: flex-end;
    }
  }

  nav {
    grid-area: nav;
    width: 90vw;
    max-width: 1900px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    gap: 0px;
    .brand {
      order: -1;
      align-self: center;
      height: auto;
      width: 200px;
      overflow: visible;
    }
    ul {
      flex-grow: 2;
      justify-content: flex-end;
      gap: 1.5rem;
      list-style-type: none;
    }
    a {
      padding: 0;
      color: $dark;
      font-family: 'Bungee', sans-serif;
    }
    a:link, a:visited {
      color: $dark
    }
    a:link:active, a:visited:active {
      color: $dark;
    }
    a:hover {
      color: $gray-500;
    }
    .nav-item {
      font-size: $font-size-22;
    }
    .home-nav-item {
      font-size: $font-size-32;
    }
  }
  .home-nav {
    margin-top: 20vh;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    a {
      font-size: $font-size-32;
    }
  }
}

footer {
  grid-area: footer;
  grid-template-columns: auto;
  grid-template-rows: 30px auto;
  margin-top: auto;

  .footer-background {
    grid-area: 2 / 1;
    width: 100vw;
    height: auto;
    z-index: -1;
    overflow: visible;
  }

  .footer-container {
    grid-area: 2 / 1;
    display: grid;
    grid-template-columns: 10vw auto 20vw;
    grid-template-rows: 2vw 10vw auto;
  }

  .footer-nav {
    grid-area: 3 / 2;
    height: 60%;
    max-width: 100%;
    color: #F9F8F8;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: column wrap;
    column-gap: 40px;
    row-gap: 10px;
    color: #f9f8f880;

    .nav-section {
      min-width: 7vw;
      align-self: flex-start;
      p {
        font-size: $font-size-16;
      }
      ul {
        font-size: $font-size-12;
        flex-flow: column wrap;
        column-gap: 10px;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      .nav-columns {
        min-height: 80px;
        max-height: 8vh;
      }
      a, a:link, a:visited {
        color: $light;
      }
      a:hover {
        color: #ffffff;
      }
      a:link:active, a:visited:active {
        color: $dark;
      }
    }

    .nav-bar {
      width: 2px;
      background: #f9f8f880;
      height: auto;
      margin: 4px 10px;
    }

    .nav-items {
    }
  }

  .footer-brand {
    grid-area: 3 / 3;
    svg {
      fill: #F0F8EA;
      width: 180px;
    }
  }

}

@media (max-width: 890px) {
  footer {
    .footer-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: flex-end;
      margin: 0 auto;

      .footer-brand {
        margin-top: 8vw;
        order: 5;
        svg {
          width: 140px;
        }
      }
      .footer-nav {
        margin-top: 15vw;
        max-width: 100%;
        align-items: center;
        align-content: center;
        flex-flow: column nowrap;
        gap: 0px
      }
      .nav-section {
        margin: 0 auto;
        p {
          text-align: center;
        }
        ul {
          flex-wrap: nowrap;
        }
      }
      .nav-items {
        flex-direction: column;
      }
      li {
        margin: 0 auto;
      }
      .footer-home {
        svg {
          width: 0 !important;
        }
      }
    }
  }
  nav {
    .nav-item {
      font-size: $font-size-16 !important;
    }
    .home-nav {
      display: none;
    }
  }
}
