.timeline {
  margin: 0 auto;
  grid-template-columns: [side-bar] 70px [event] auto [last-column] 10px;
  width: 60vw;
  min-width: 360px;
  grid-auto-flow: dense;
}

.timeline::before {
  position: relative;
  left: 5px;
  grid-column: side-bar;
  grid-row: 1 / span 1000;
  width: 10px;
  height: auto;
  background: $gray-500;
  content: "";
  border-radius: 10px;
  display: block;
  justify-self: center;
  overflow: hidden;
}

.event {
  grid-column: event;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.event-title {
  font-family: bungee,sans-serif;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.event-title::before {
  position: absolute;
  transform: translate(-42px, 0);
  align-self: end;
  z-index: 5;
  width: 16px;
  height: 16px;
  border: 3px solid $dark-accent;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  content: "";
}

.event-sub-title > *{
  padding-left: 0 !important;
}

.grade {
  display: inline-block;
  margin: 0 !important;
}
