.flex {
  display: flex;
}

.column {
  flex-flow: column nowrap;
}

.columns {
  flex-flow: column wrap;
}

.grid {
  display: grid;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-center {
  align-self: center;
}
