.flex {
  display: flex;
}

.column {
  flex-flow: column nowrap;
}

.columns {
  flex-flow: column wrap;
}

.font-size-1-rem {
  font-size: 1rem !important;
}

.grid {
  display: grid;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-center {
  align-self: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}
