    <div class="button flex">
      <a class="contact-button" href="#contact-me">Get in touch</a>
    </div>
    <div id="contact-me" class="overlay">
      <div class="pop-up grid center">
        <div class="detail">
          <h2>Get in touch</h2>
        </div>
        <form method="POST" action="{{ .Site.Params.formUrl }}" class="flex column">
          <label for="name">
            Your name:
          </label>
          <input type=text name="name" id="name" placeholder="Your name:">
          <label for="email">
            Your email:
          </label>
          <input type="email" name="email" id="email" placeholder="Your email:">
          <label for="message">
            Your message:
          </label>
          <textarea name="message" id="message" placeholder="Your message:"></textarea>
          <button type="submit" value="Send">Send</button>
        </form>
        <a class="close" href="">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
            <title>Close</title>
            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
          </svg>
        </a>
      </div>
    </div>
