{{- define "main" }}
    <div class="brand align-center">
      <h1>
        <svg aria-labeledby="error-id" viewBox="0 0 150 60" class="" role="img">
          <title id="error-id">404</title>
          <text x="0" y="0.1em">
            <tspan dy=".7em" x="0.1em">404</tspan>
          </text>
        </svg>
      </h1>
    </div>
    <p class="align-center">Sorry, that page can't be found...</p>
    <p class="align-center">Return <a href="{{ site.BaseURL }}">Home</a></p>
{{- end -}}
