  <div class="section-nav flex">
    {{- with page.NextInSection }}
    <a href="{{ .RelPermalink }}" class="previous" aria-label="Navigate to previous project: {{ .Title }}">
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="4rem" height="4rem"
          viewBox="0 0 5 10"
          class="arrow"
          role="img">
          <path fill="none" stroke-width=".45"
            d="
              M 4.5 3
              L 2 4.75
              C 1.75 5, 2 5.25, 2 5.25
              L 2 5.25
              L 4.5 7
              "
            />
          </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
          width="1rem" height="4rem"
          viewBox="0 0 1 10">
          <text transform="scale(0.2, 0.2)" x="0" y="5">
            {{- range (split .Title " ") }}
            <tspan dx="0" dy="1em" x="0">{{ . }}</tspan>
            {{- end }}
            </text>
          </svg>
      </div>
    </a>
    {{- end }}
    {{- with page.PrevInSection }}
    <a href="{{ .RelPermalink }}" class="next" aria-label="Navigate to next project: {{ .Title }}">
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="1rem" height="4rem"
          viewBox="0 0 1 10"
          role="img">
          <text transform="scale(0.2, 0.2)" x="0" y="5" text-anchor="end">
            {{- range (split .Title " ") -}}<tspan dy="1em" x="0" text-anchor="end">{{ . }}</tspan>{{- end -}}
            </text>
          </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
          width="4rem" height="4rem"
          viewBox="0 0 5 10"
          transform="scale(-1, 1)"
          class="arrow">
          <path fill="none" stroke-width=".45"
            d="
              M 4.5 3
              L 2 4.75
              C 1.75 5, 2 5.25, 2 5.25
              L 2 5.25
              L 4.5 7
              "
            />
          </svg>
      </div>
    </a>
    {{- end }}
  </div>
